*{
                margin: 0;
                box-sizing: border-box;
                font-family: Arial, Helvetica, sans-serif;
            }
            body{
                background-color: rgb(226, 226, 226);
                scroll-behavior: smooth;
            }
            #Barra{
                background-color: rgb(11, 33, 51);
                color: white;
                display: flex;
                padding: 15px;
}
            #Barra h1{
                font-size: 15px;
            }
            #Barra a{
                text-decoration: none;
                color: white;
                font-size: 15px;
            }
            #Barra #Links{
                margin-left: 350px;
                display: flex;
                gap: 60px;
            }
            #Inline {
                display: flexbox;
            }
            #Cabeçalho{
                text-align:center;
                font-size: 15px;
                background-color: rgb(47, 124, 240);
                color: white;
                align-items: center;
                height: 200px;
                margin: 20px 0;
                padding: 10px 50px;
            }
            .Container{
                display: flex;
            }
            .TCabeçalho h1 {
                margin: 10px;
            }
            .TCabeçalho{
                margin: 50px 0 40px 0;
            }
            .TSobreMim{
                color:rgb(11, 33, 51);
                text-align: center;
                font-size: 25px;
            }
            .Container{
                display: inline-block;
                align-items: baseline;
                margin: 0 0 0 120px;
                justify-content: baseline;
            }
            .Container2LI{
                display: block;
                align-items: baseline;
                margin: 0 0 0 300px;
                justify-content: baseline;
            }
            .TextoCard{
                margin-top: 20px;
            }
            .Divisao1{
                margin-left: 300px;
            }
            .Divisao2{
                margin-left: 300px;
            }
            .Card2{
                width: 280px;
                padding:40px;
                border: 1px solid grey;
                border-radius: 10px;
                background-color: white;
                margin: 40px 10px;
                display: inline-block;
                text-align: center;
                height: 230px;
            }
            .MeusProjetosT{
                text-align: center;
                margin-top: 20px;
            }
            .Ilustração{
                height: 20px;
                background-color: rgb(178, 176, 176);
                height: 80px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            .Badge{
                background-color: orangered;
                padding: 10px;
                font-weight: bold; 
                width: 68px;
                border-radius: 40px;
                position: absolute;
                top: -60px;
                left: 200px;
            }
            .Badge p {
                margin-top: 0;
            }
            .Card2 p,
            .Card2 h1{
                margin: -10px;
            }
            .Card2 p {
                margin-top: 10px;
            }
            .Card h1{
                font-size: 20px;
            }
            .Card2 h1{
                font-size: 20px;
            }
            #SobreMim {
                display: flex;
                margin-left: 50px;
            }
            .Card{
                width: 280px;
                padding:40px;
                border: 1px solid grey;
                border-radius: 10px;
                background-color: white;
                margin: 40px 10px;
                display: inline-block;
                text-align: center;
                height: 170px;
            }
            footer{
                background-color: rgb(11, 33, 51);
                color: white;
                padding: 30px;
                text-align: center;
                top: 100px;
                position: relative;
            }
            .Voltar{
                background-color: rgb(23, 116, 255);
                border-radius: 50px;
                position: fixed;
                padding: 20px;
                margin: 80px 0 110px 0;
                top: 550px;
                z-index: 1;
            }
